<div class="main-container">
  <table class="table">
    <tbody>
      @for(order of orders$ | async; track order.id) {
        <tr>
          <td>
            {{ order.user.email }}
          </td>
          <td>
            {{ order.total | currency:'USD':'$'}}
          </td>
          <td>
            {{ order.createdAt | date:'dd/MM/yyyy HH:mm' }}
          </td>
          <td>
            {{ order.status | orderStatus}} 
          </td>
          <td>
            <app-button theme="primary" size="small" [routerLink]="['/profile', 'orders', order.id]">View</app-button>
          </td>
        </tr>
      } @empty {
        <tr>
          <td>
            No orders
          </td>
        </tr>
      } 
    </tbody>
  </table>
</div>