:root {
  --primary-b900: #4078ff;
  --primary-b800: #5c83ff;
  --primary-b700: #728fff;
  --primary-b600: #869aff;
  --primary-b500: #97a6ff;
  --primary-b400: #a8b2ff;
  --primary-b300: #b7bfff;
  --primary-b200: #e3e5ff;
  --primary-b100: #f0f1ff;

  --neutral-black-b900: #0e1422;
  --neutral-black-b800: #202533;
  --neutral-black-b700: #333845;
  --neutral-black-b600: #474b57;
  --neutral-black-b500: #5c5f6a;
  --neutral-black-b400: #71747e;
  --neutral-black-b300: #878a92;
  --neutral-black-b200: #b6b7bc;
  --neutral-black-b100: #e6e7e8;

  --neutral-white-w900: #fff;
  --neutral-white-w100: #f6f6f6;
  --neutral-white-w200: #e9e9eb;

  --semantic-blue-b900: #306cef;
  --semantic-blue-b800: #477cf1;
  --semantic-blue-b700: #5e8cf3;
  --semantic-blue-b600: #759df4;
  --semantic-blue-b500: #8cadf6;
  --semantic-blue-b400: #a3bef8;
  --semantic-blue-b300: #bacefa;
  --semantic-blue-b200: #d1defb;
  --semantic-blue-b100: #e8effd;

  --semantic-green-g900: #057234;
  --semantic-green-g800: #2c7f45;
  --semantic-green-g700: #458b56;
  --semantic-green-g600: #5a9868;
  --semantic-green-g500: #6fa479;
  --semantic-green-g400: #83b18b;
  --semantic-green-g300: #98be9e;
  --semantic-green-g200: #c1d8c4;
  --semantic-green-g100: #d5e5d7;

  --semantic-red-r900: #be1313;
  --semantic-red-r800: #c83727;
  --semantic-red-r700: #d14f3a;
  --semantic-red-r600: #d9644e;
  --semantic-red-r500: #e17862;
  --semantic-red-r400: #e88c77;
  --semantic-red-r300: #ee9f8d;
  --semantic-red-r200: #f8c5b9;
  --semantic-red-r100: #fbd9d0;

  --semantic-yellow-y900: #f3b40a;
  --semantic-yellow-y800: #f6bb33;
  --semantic-yellow-y700: #f9c14c;
  --semantic-yellow-y600: #fbc862;
  --semantic-yellow-y500: #fdcf76;
  --semantic-yellow-y400: #ffd58a;
  --semantic-yellow-y300: #ffdc9e;
  --semantic-yellow-y200: #ffeac4;
  --semantic-yellow-y100: #fff1d8;
}

