<div class="header-ads">
  Get 25% OFF on your first order. <strong style=" margin-left: 10px; cursor: pointer;">Show Now</strong>
</div>

<header class="container">
  <div class="logo">
    <img src="assets/images/logo.svg" width="40">
    <div class="logo__brand">Ecommerce</div>
  </div>

  <div class="nav">
    <div> 
      <ul>
        <li>
          <a routerLink="/">Home</a>
        </li>
        <!-- <li>
          <a [cdkMenuTriggerFor]="menu">Categories</a>
          <ng-template #menu>
            <div class="menu">
              <ul>
                @for (category of categories$ | async; track category.id) {
                  <li routerLink="/category" [queryParams]="{
                    category: [category.id]
                  }">
                    {{category.name}}
                  </li>
                }
              </ul>
            </div>
          </ng-template>
        </li> -->
        <button class="mat-menu-button" mat-button [matMenuTriggerFor]="menu">Categories</button>
          <mat-menu #menu="matMenu">
            <ul class="mat-menu-ul">
              @for (category of categories$ | async; track category.id) {
                <li class="mat-menu-li" routerLink="/category" [queryParams]="{
                  category: [category.id]
                }">
                  {{category.name}}
              </li>
              }
            </ul>
          </mat-menu>
        <li>
          <a routerLink="/about">About</a>
        </li>
        <li>
          <a routerLink="/contact">Contact</a>
        </li>

      </ul>
    </div>

  </div>

  <div>
      @if (isAuthenticated){
        
        <div class="profile">

          <div class="price">
            {{cartCount$ | async}}
          </div>

          <div routerLink="profile/cart" class="profile__item">
            <img src="assets/icons/Cart.svg"/>
          </div>

          <div id="profile" class="profile__item" routerLink="/profile">
            <img src="assets/icons/User-1.svg"/>
          </div>

          <div  class="profile__item" (click)="logout()">
            <img src="assets/icons/Logout.svg"/>
          </div>
        </div>

      } @else {
        <div id="auth_profile" class="profile__item" routerLink="/auth">
          <img src="assets/icons/User-1.svg"/>
        </div>
      }
    
    
    </div>

</header>