<div class="header">
    Change Password
</div>

<form [formGroup]="form">
  <app-input
    class="input-1"
    label="New Password"
    placeholder="New Password"
    formControlName="password"
    type="password"
  />

  <app-input
    class="input-2"
    label="Confirm Password"
    placeholder="Confirm Password"
    formControlName="confirmPassword"
    type="password"
  />

  @if (form.hasError('confirmPassword') && form.touched) {
    <app-alert
      icon="Warning.svg"
      type="error"
      message="Passwords do not match!" />
  }

  @if (form.get('password')?.hasError('pattern') && form.touched) {
    <app-alert icon="Warning.svg" type="error" message="Weak Password!" />
  }

  @if(reseted){
    <app-alert icon="Check.svg" type="success" message="Your Password is changed"/>
  }

  <app-button
    theme="primary"
    size="default"
    (click)="onSubmit()"
  >
    Change password
  </app-button>
</form>