<app-auth-head
  title="Successful Order"
  backgroundColor="var(--semantic-green-g100)"
/>

<div class="container status">

  <div class="content">
    <img  src="../../../../assets/images/success-order.png" alt="Success" />

    <div class="title">
      Thank you for shopping
    </div>

    <div class="message">
      Your order has been successfully placed and is now being processed.
    </div>

    <app-button
      class="checkout__checkout"
      block
      routerLink="/profile/"
    >Go to my account</app-button>
  </div>


</div>