.table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  thead {
    background-color: grey;
    color: black;
    th {
      padding: 10px;
      text-align: left;
    }
  }
  tbody {
    tr {
      &:nth-child(odd) {
        background-color: #f5f5f5;
      }
      td {
        padding: 10px;
      }
    }
  }
}