.auth-container {
  width: 300px;

  form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .more-actions {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 24px;

    font-family: var(--font-family);
    font-weight: 400;
    font-size: var(--font-size-14);
    line-height: 175%;
    color: var(--neutral-black-b500);

    a {
      text-decoration: underline;
      margin-left: 10px;
      color: var(--neutral-black-b500);
      
    }

    a:active {    
      color: var(--neutral-black-b900);
    }

    a:visited {
      color: var(--neutral-black-b900);
    }

  }
}
.auth-actions {
  button {
    border: none;

  }
}

.recovery {
  display: flex;
  justify-content: end;

  font-family: var(--font-family);
  font-weight: 500;
  font-size: var(--font-size-12);
  line-height: 200%;
  text-transform: capitalize;
  color: var(--neutral-black-b600);

  a {
    text-decoration: none;
  }

  a:visited {
    color: var(--neutral-black-b600);
  }

  a:active {
    color: var(--neutral-black-b900);
  }
}